<?xml version="1.0" encoding="UTF-8"?>
<plugin id="lycwed-cordova-plugin-admob-inmobi"
    version="1.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>lycwed-cordova-plugin-admob-inmobi</name>
    <description>Cordova AdMob Mediation Plugin for InMobi</description>    
    <author>Lycwed</author>
    <keywords>admob,mediation,inmobi</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">        
        <framework src="com.inmobi.monetization:inmobi-ads:7.0.2" />
        <framework src="com.google.ads.mediation:inmobi:7.0.2.0" />
        <framework src="com.squareup.picasso:picasso:2.5.2" />
        <framework src="com.android.support:recyclerview-v7:xx.x.x" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.inmobi.rendering.InMobiAdActivity"
                android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:resizeableActivity="false"
                android:theme="@android:style/Theme.NoTitleBar" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
                android:enabled="true"
                android:exported="true"
                tools:ignore="ExportedReceiver">
                <intent-filter>
                    <action android:name="com.inmobi.share.id"/>
                </intent-filter>
            </receiver>
        </config-file>
    </platform>

    <platform name="ios">
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <pod id="GoogleMobileAdsMediationInMobi" version="7.0.4.0" />

        <dependency id="cordova-plugin-cocoapod-support"/>
    </platform>
</plugin>
