<?xml version="1.0" encoding="UTF-8"?>
<plugin id="lycwed-cordova-plugin-admob-inmobi" version="1.0.9"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>lycwed-cordova-plugin-admob-inmobi</name>
    <description>Cordova AdMob Mediation Plugin for InMobi</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">
        <framework src="com.inmobi.monetization:inmobi-ads:7.0.2" />
        <framework src="com.google.ads.mediation:inmobi:7.0.2.0" />
        <framework src="com.squareup.picasso:picasso:2.5.2" />
        <framework src="com.android.support:recyclerview-v7:xx.x.x" />

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.inmobi.rendering.InMobiAdActivity"
                android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:resizeableActivity="false"
                android:theme="@android:style/Theme.NoTitleBar" />

            <receiver
                android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
                android:enabled="true"
                android:exported="true">
                    <intent-filter>
                        <action android:name="com.inmobi.share.id"/>
                    </intent-filter>
            </receiver>
        </config-file>

        <!-- Prevents compilation error: https://developer.android.com/studio/build/multidex.html -->
        <!-- when add additional mediation plugins -->
        <dependency id="cordova-plugin-multidex" />
    </platform>

    <platform name="ios">
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <pod id="GoogleMobileAdsMediationInMobi" version="7.0.4.0" />

        <!-- Prevents compilation failures when using pod's id with additional mediations plugins -->
        <dependency id="cordova-plugin-cocoapod-support" />
    </platform>
</plugin>
